html, body{
	height: 100%;
	margin: 0;
	padding: 0 5px;
	font-family: "parisine-std", sans-serif;
	background-image: url('/assets/icons/motif.jpg');
	background-repeat: repeat;
	background-size: 150px;
}

.centered{
	text-align: center;
}

.header {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
}

.header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

a {
	text-decoration: none;
}

.footer {
	background-color: #0a0082;
	color: #fff;
	padding: 10px;
	text-align: center;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 0px;
}

.footer a {
	color: #ffce00;
}


.svg-container {
	overflow: auto;
	align-content: center;
	padding: 5px;
}

.svg-container img {
	height: 60px;
	margin: 8px 8px 0px 0px;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr; /* Deux colonnes : icônes (auto) + texte (1fr) */
	align-items: center; /* Alignement vertical au centre */
	gap: 0.5em; /* Espacement entre les colonnes */
}

.container .integrated {
	display: flex;
	gap: 0.3em; /* Espacement entre les icônes */
	height: 1.75em; /* Hauteur de 2 lignes pour les icônes */
	align-items: stretch; /* Etire les icônes à la hauteur spécifiée */
}

.container .integrated img {
	height: 100%; /* Les icônes prendront 100% de la hauteur du conteneur */
	width: auto; /* Ajuste la largeur en fonction de la hauteur */
}

.integrated img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}

.box object {
	display: block;
	width: 100%;
}

.box h2 {
	margin-bottom: 10px;
}

.box p {
	margin-top: -5px;
}

.box iframe {
	display: block;
	width: 100%; /* S'adapte à la largeur de la boîte */
	height: auto; /* Garde les proportions */
	aspect-ratio: 58/27;
	border-radius: 10px;
	margin-bottom: 5px !important;
	border: none;
}

.box:empty {
	display: none;
}

.sncf {
	aspect-ratio: 16/9 !important;
	pointer-events: none;
	overflow-y: hidden !important;
}

.tram {
	width: 100%;  /* Largeur de l'iframe */
	border: none;
	display: block;
}

@media (max-width: 568px) {
	.tram {
		height: 130px !important;
	}
}
@media (min-width: 568px) {
	.tram {
		height: 160px !important;
	}
}

.wip-box {
	border: 4px solid #e85433;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.wip-box .svg-container {
	position: relative;
	overflow: visible !important;
}

.wip-box h2 {
	margin-top: 0px;
}

.license {
	font-size: 11px;
	text-align: center;
	color: #888888;
	margin-top: 5px;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}

.box table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
}

/* Suppression des bordures */
.box th, .box td {
	padding: 8px;
	font-weight: bold;
	border: none;
}

/* Lignes alternées pour les deux colonnes */
.box tr:nth-child(odd) .title {
	background-color: #09006e; /* Bleu plus foncé */
}

.box tr:nth-child(even) .title {
	background-color: #0a0082; /* Bleu original */
}

.box tr:nth-child(odd) td:not(.title) {
	background-color: #f2f2f2; /* Gris clair */
}

.box tr:nth-child(even) td:not(.title) {
	background-color: #ffffff; /* Blanc */
}

/* Texte en blanc pour la colonne "title" */
.box td.title {
	color: white;
	text-align: right;
	font-weight: bold;
}

/* Coins arrondis */
.box table tr:first-child td:first-child {
	border-top-left-radius: 10px;
}

.box table tr:first-child td:last-child {
	border-top-right-radius: 10px;
}

.box table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

.box table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.gallery {
	text-align: center;
	width: 100%;
}

.gallery img {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 200px;
	aspect-ratio: 1 / 1; /* Les images seront carrées */
	object-fit: cover; /* Remplissage sans déformation */
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	margin: 5px;
}

.gallery img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blue-box {
	background-color: #0a0082;
	color: white !important;
	border-radius: 5px;
	font-weight: bold;
	padding: 6px;
	display: inline-block;
	word-break: break-word;
	margin-bottom: 10px;
	width: fit-content;
}

.repere {
	border: 2px solid white;
	font-style: italic;
	display: inline-block;
	padding: 3px;
}

.ptinteret {
	background-color: #6e4823 !important;
	border-radius: 5px;
	font-style: italic;
	font-weight: bold;
	color: white !important;
	padding: 6px;
	display: inline-block;
}
.num-sortie {
	border: 1px solid white;
	padding: 3px;
	display: inline-block;
}

.blue-box .ptinteret {
	padding: 4px !important;
	border-radius: 0px;
}

.hovereffect {
	transition: transform 0.2s, box-shadow 0.2s;
}

.hovereffect:hover {
	transform: scale(1.15);
}

.footer-buttons {
	background-color: #0a0082;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align: center;
	color: white;
}
.footer-buttons h2 {
	margin-bottom: 20px;
	text-align: left;
}

.footer-buttons p a {
	color: #ffce00;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.button {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.github {
	background-color: black;
}
.github:hover {
	background-color: #333;
	transform: scale(1.1);
}
.discord {
	background-color: #5865F2;
}
.discord:hover {
	background-color: #4752c4;
	transform: scale(1.1);
}
.metropolitor {
	background-color: #0a0082;
}
.metropolitor:hover {
	background-color: #05003e;
	transform: scale(1.1);
}
.metropolitor .integrated img {
	height: 2.5em;
	width: auto !important;
}

.shadowed {
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.invert-colors {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.terminus-box {
	background-color: #0a0082;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
	display: inline-block;
	word-break: break-word;
	margin-bottom: 10px;
	width: fit-content;
}

@media (max-width: 500px) {
	.terminus-box {
		font-size: 30px;
	}
}
@media (min-width: 400px) {
	.terminus-box {
		font-size: 5vw;
	}
}
@media (min-width: 800px) {
	.terminus-box {
		font-size: 50px;
	}
}

.train {
	font-size: 30px !important;
}

/* Pour le slideshow */
.slideshow-container {
	position: relative;
	max-width: 100%;
	height: 70vh;
	overflow: hidden;
	border-radius: 10px;
  }

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.75s ease-in-out;
	pointer-events: none;
}

.slide.active {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fade {
	animation: fadeEffect 0.75s ease-in-out;
}

@keyframes fadeEffect {
	from { opacity: 0.4; }
	to { opacity: 1; }
}

.caption {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
}

.justified {
	text-align: justify;
}

.stationinput {
	border-radius: 10px;
	font-size: 1em;
	padding: 10px;
	font-family: "parisine-std", sans-serif;
	max-width: 500px;
	width: 100%;
	align-self: center;
	font-weight: bold;
	background-color: white;
	border: 2px solid black;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease, visibility 0.4s ease;
	pointer-events: none;
}

.stationinput::placeholder {
	font-weight: normal !important;
	font-style: italic;
}

.stationinput.active {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.searchbox {
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
}

.searchbtn {
	/* Create a button class */
	background-color: #0a0082; /* Dark blue */
	border: 2px solid #0a0082;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	font-family: "parisine-std", sans-serif;
	min-width: 30px;
	height: auto;
	align-self: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;      /* Center horizontally */
  align-items: flex-start;      /* Prevent vertical stretching */
  max-width: 2000px;
  margin: 0 auto;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.box {
	border: 4px solid black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
	background-color: white !important;
	box-sizing: border-box;
	max-width: none;
}

.box.sticky-left {
  break-after: column !important;
}

@keyframes blink {
	0%,50% {
		opacity: 0;
	}
	51%,100% {
		opacity: 1;
	}
}
.perturbation {
	animation: blink 1s;
	animation-iteration-count: infinite;
}

.info-trafic {
	max-height: 33.333vh;
	overflow-y: auto;
}

@media (max-height: 600px) {
	.info-trafic {
		max-height: 50vh;
	}
}

.no-margin {
	margin: 0 0;
}

.self-center {
	align-self: center;
}